#card {
    margin-bottom: 2em;
    /* box-shadow: 5px 5px 10px rgba(67, 68, 69, 0.1) */
}

h5 {
    margin-bottom: 1em;
    font-size: 1.50rem;
    color: rgba(67, 68, 69, 0.7);
    text-shadow: 1px 1px 5px rgba(67, 68, 69, 0.3);
}

.marg {
    margin-bottom: 2em;
}
.main {
    margin-bottom: 3em;
}
#footer {
    background-color: rgba(9, 173, 137, 0.7);
    padding: .75rem 1.25rem;

}
#footer .fa {
    color: black;
    text-shadow: 1px 1px 5px rgba(67, 68, 69, 0.3);
}
.btn-sm {
    display: flex;
    float: right;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
body {
    background-color: rgba(9, 173, 137, 0.05);
} 
.spacing {
    margin-bottom: 0em;
    margin-top: 1em;
}
.divh6 h6 {
    font-size: 1.5em;
    
}